<!-- <h2>User login</h2> -->

<mat-card
  ><mat-card-title>User Login</mat-card-title>
  <mat-card-content>
    <!-- Az ngFormhoz kellett a ts-ben egy import -->
    <!-- Lentebb az inputoknál kellett az ngModel rész -->
    <form
      class="example-form"
      #loginform="ngForm"
      (submit)="ProceedLogin(loginform)"
    >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Username"
          name="username"
          ngModel
          required
        />
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          name="password"
          ngModel
          required
        />
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          type="submit"
          style="margin: 5px"
          color="primary"
        >
          Login
        </button>
        <a mat-raised-button color="accent" (click)="RedirectRegister()">Register</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
