*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 50%;
    margin: auto;
    background-color: #3222f4;
    margin-top: 2.5rem;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    min-height: 60vh;
}

.container h1{
    margin-bottom: 1.5rem;
    font-size: 2.2rem;
}

.container input{
    display: block;
    margin: 0 auto 1.5rem;
    width: 60%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: black;
    margin-bottom: 1.1rem;
    width: 60%;
    padding: 0.4rem 0.6rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    border: none;
    cursor: pointer;
}

.container .output{
    position: absolute;
    margin-left: 5rem;
    text-align: left;
}

.container p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.container h3, .container a{
    font-size: 1.7rem;
    position: absolute;
    margin-top: 1.4rem;
    background-color: red;
    width: 450px;
    padding: 0.3rem 1rem;
    text-align: center;
    display: none;
}

.output a{
    display: inline-block;
    width: 500px;
    cursor: pointer;
}